
  <div class="announcements">
  <div class="announcement-item d-flex" >
    <div> 
      <img src="../../assets/src_week.jpg" style="border-radius: 5%; position: relative;left: -20px;" width="290" height="290" alt="...">
    </div>
   
    <div class="card-content">
      <h6><strong>Upcoming Src Week celebration</strong></h6> 
   
    
      <span> <strong>Date:</strong>Date: July 15, 2024</span><br>
      <span> <strong>Time:</strong> Time: 10:00 AM - 12:00 PM</span><br>
      <span> <strong>Venue:</strong>Asembly Hall</span><br>
      <p>   Join us for an insightful seminar on the latest advancements in Artificial Intelligence, featuring guest speaker Dr. John Doe from Tech University.
      </p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>

  <div class="announcement-item d-flex">
    <div> 
      <img src="../../assets/images.png" style="border-radius: 5%; position: relative;left: -20px;" width="290" height="290" alt="...">
    </div>
    <div class="card-content">
      <h6><strong>Upcoming Seminar on Artificial Intelligence</strong></h6>   
  <span> <strong>Date:</strong>Date: July 15, 2024</span><br>
  <span> <strong>Time:</strong> Time: 10:00 AM - 12:00 PM</span><br>
  <span> <strong>Venue:</strong>Asembly Hall</span><br>
  <p>    Join us for an insightful seminar on the latest advancements in Artificial Intelligence, featuring guest speaker Dr. John Doe from Tech University.
  </p>
    </div>
   
  </div>
</div>