.exams-results {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    color: #000000;
}

.exams-results h2 {
    color: #0d6efd;
    margin-bottom: 20px;
}

.exams-results table {
    width: 100%;
    border-collapse: collapse;
}

.exams-results th, .exams-results td {
    border: 1px solid #f0f0f0;
    padding: 10px;
    text-align: left;
}

.exams-results th {
    background-color: #f8f9fa;
    color: #0d6efd;
}

@media only screen and (max-width: 768px) {
    .exams-results.container-fluid {
      padding: 10px; /* Adjust padding for smaller screens */
    }
  
    .table {
      width: 100%;
      table-layout: fixed; /* Ensures table does not exceed the container width */
    }
  
    .table th, .table td {
      padding: 4px; /* Adjust padding inside table cells */
      word-wrap: break-word; /* Ensures text breaks to prevent overflow */
    }
  
    .table thead th {
      text-align: left; /* Aligns header text to left, better for small screens */
    }
  
    button.btn {
      width: 100%; /* Makes the button span the full width of its container */
      margin-top: 20px; /* Adds space above the button */
    }
  }
  
