
.container {
  //background-color: #e1dada;
  padding: 25px;
  //margin-top: 100px;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  max-width: 1220px;
 // margin: auto;
// top: -17px;
 position: relative;
 background-color: #e9ecef;

}

 h1 {
  font-size: 2.2em;
  color: #0d0d0d;
  margin-bottom: 20px;
  text-align: center;
}

.card {
  border: none;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  margin-bottom: 20px;
}

.profile-section img {
  width: 100%;
  height: auto;
  border-radius: 12px;
  object-fit: cover;
  border: 2px solid #3498db;
}

.card-body h5 {
  font-size: 1.2em;
  color: #34495e;
  margin-bottom: 10px;
}

.card-body a {
  display: inline-block;
  margin-top: 10px;
}

.student-details, .guardian-details {
  margin-bottom: 20px;
}

.details h2, .Guardian h2 {
  font-size: 1.3em;
  color: #34495e;
  margin-bottom: 10px;
  //border-bottom: 2px solid #ecf0f1;
  padding-bottom: 5px;
  text-align: center;
}

.detail {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.detail strong {
  font-weight: bold;
  color: #2c3e50;
  flex: 1;
}

.detail span {
  color: #7f8c8d;
  border: 1px solid transparent;
  padding: 2px 4px;
  border-radius: 4px;
  min-width: 150px;
  text-align: left;
  margin-left: 8rem;
  flex: 2;
}

.detail span[contenteditable="true"] {
  cursor: text;
}

.detail span[contenteditable="true"]:focus {
  border: 1px solid #bdc3c7;
  background-color: #ecf0f1;
  outline: none;
}

.text-center button#saveButton {
  padding: 10px 20px;
 
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 1.2em;
  cursor: pointer;
}

.text-center button#saveButton:hover {
}

.mt-5 {
  margin-top: 3rem;
}

.mt-3 {
  margin-top: 1.5rem;
}

.mt-4 {
  margin-top: 2rem;
}

h2 {
  margin-top: 20px;
  margin-left: -9rem;
}

p.detail {
  margin-bottom: 10px;
}

.card-title, .card-text {
  margin-bottom: 5px;
}

.card-body h5 {
  margin: 5px 0;
}

.col-md-4, .col-md-8 {
  padding-left: 15px;
  padding-right: 15px;
}

.details, .Guardian{
 // padding: 0px 0rem 0 1rem;
  
}
.details p, .Guardian p{
  padding: 0px 0rem 0 4rem;
}

.menu-content{
  width: 1163px;
  color: #ffffff;
  height: fit-content;
   background-color: #e9ecef;
  overflow-y: scroll;
  
}