<div class="container mt-5">
  <div class="row">
      <!-- Profile Card -->
      <div class="col-md-4">
          <div class="card profile-section">
              <img src="../../assets/demoProfile.png" class="card-img-top" alt="Profile Picture">
              <div class="card-body">
                  <h5 class="card-title"><strong>Full Name: </strong>Kofi Yeboahe</h5>
                  <h5 class="card-text"><strong>Programme: </strong>Business Student</h5>
                  <h5 class="card-title">House 5</h5>
                  
              </div>
          </div>
      </div>

      <!-- Details -->
      <div class="col-md-8">
          <div class="card">
              <div class="card-body">
                  <h1>Student Information</h1>
                  <div class="row">
                      <div class="col-md-12 details">
                          <h2>Personal Details</h2>
                          <p class="detail"><strong>Full Name:</strong> <span id="fullName">John Doe</span></p>
                          <p class="detail"><strong>Registration Number:</strong> <span id="registrationNumber">SHS123456</span></p>
                          <p class="detail"><strong>Form:</strong> <span id="form">Senior</span></p>
                          <p class="detail"><strong>Programme of Study:</strong> <span id="programmeStudy">Science</span></p>
                          <p class="detail"><strong>House Name:</strong> <span id="houseName">Nkrumah House</span></p>
                          <p class="detail"><strong>Date of Birth:</strong> <span id="dob">2004-05-16</span></p>
                          <p class="detail"><strong>Gender:</strong> <span id="gender">Male</span></p>
                          <p class="detail"><strong>Contact Number:</strong> <span contenteditable="true" id="contactNumber" (input)="onInputChange($event, 'contactNumber')">+233 24 123 4567</span></p>
                          <p class="detail"><strong>Email:</strong> <span contenteditable="true" id="email" (input)="onInputChange($event, 'email')">john.doeexample.com</span></p>
                          <p class="detail"><strong>Address:</strong> <span id="address">123 Main Street, Accra, Ghana</span></p>
                      </div>
                  </div>
                  <div class="mt-3 Guardian">
                      <h2>Guardian Details</h2>
                      <p class="detail"><strong>Guardian Name:</strong> <span id="guardianName">Jane Doe</span></p>
                      <p class="detail"><strong>Guardian Contact Number:</strong> <span id="guardianContactNumber">+233 24 987 6543</span></p>
                      <p class="detail"><strong>Guardian Email:</strong> <span id="guardianEmail">jane.doeexample.com</span></p>
                      <p class="detail"><strong>Guardian Address:</strong> <span id="guardianAddress">123 Main Street, Accra, Ghana</span></p>
                  </div>
                  <div class="text-center mt-4">
                      <button id="saveButton" class="btn btn-primary" (click)="saveChanges()">Save Changes</button>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
      <h5 class="modal-title" id="modal-basic-title">Edit Profile</h5>
      <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
  </div>
  <div class="modal-body">
      <form>
          <div class="mb-3">
              <label for="userName" class="form-label">Full Name</label>
              <input type="text" class="form-control" id="userName">
          </div>
          <div class="mb-3">
              <label for="userEmail" class="form-label">Email</label>
              <input type="email" class="form-control" id="userEmail">
          </div>
          <div class="mb-3">
              <label for="userAboutMe" class="form-label">About Me</label>
              <textarea id="userAboutMe" cols="30" rows="10" placeholder="Write something about yourself" class="form-control"></textarea>
          </div>
      </form>
  </div>
  <div class="modal-footer">
      <button type="button" class="btn btn-outline-secondary" (click)="c('Save click')">Save</button>
  </div>
</ng-template>