<!-- <div class="courses-container">
   
    <div class="courses-enrolled">
       
        <table>
            <thead>
                <tr>
                    <th>Course Name</th>
                    <th>Instructor</th>
                    <th>Type</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Math 101</td>
                    <td>Mr. John Smith</td>
                    <td>Core</td>
                </tr>
                <tr>
                    <td>History 202</td>
                    <td>Mrs. Jane Doe</td>
                    <td>Core</td>
                </tr>
                <tr>
                    <td>Science 101</td>
                    <td>Dr. Alan Brown</td>
                    <td>Core</td>
                </tr>
                <tr>
                    <td>English 101</td>
                    <td>Ms. Emily White</td>
                    <td>Elective</td>
                </tr>
                <tr>
                    <td>Chemistry 102</td>
                    <td>Dr. Linda Green</td>
                    <td>Core</td>
                </tr>
            </tbody>
        </table>
    </div>
</div> -->

<div class="main-div">
<div class="side-menu">
<span class="program-text"> Program</span>
<br><br>
<p class="program-name">General  Science</p>

</div>

<div class="course-tutor">

    <div class="courses">
        <span class="core-head">Core Subjects</span>
    <ul>
        <li>Core Maths</li>
        <li>Core Maths</li>
        <li>Core Maths</li>
        <li>Core Maths</li>
    </ul>

    <span class="elective-head">Elective Subjects</span>
    <ul>
        <li>Core Maths</li>
        <li>Core Maths</li>
        <li>Core Maths</li>
        <li>Core Maths</li>
    </ul>

    </div>
    


<div class="tutor-box">
    <span class="tutor-head"> Lecturer's Name</span>
<ul>
    <li>Core Maths</li>
    <li>Core Maths</li>
    <li>Core Maths</li>
    <li>Core Maths</li>
</ul>

<span class="tutor-head">Lecturer's Name</span>
<ul>
    <li>Core Maths</li>
    <li>Core Maths</li>
    <li>Core Maths</li>
    <li>Core Maths</li>
</ul>
</div>

</div>
</div>