.content{
    width: 72.15%;
    height: 100vh;
    background: #e8f6ff;
    // height: 100vh;
    position: absolute;
    left: 27.85%;
}

.sub-content{
    width: 62.64vw;
    height: 709px;
    background-color: #ffffff;
    position: relative;
    left: 57px;
    top: 50px;

}