.exams-timetable {
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 250px;
    color: #000000;
    width: 80%;
    text-align: center;
    margin-top: 55px;
    display: block;
    justify-content: center;
}

.exams-timetable h2 {
    color: #121313;
    margin-bottom: 20px;
}

.exams-timetable table {
    width: 100%;
    border-collapse: collapse;
}

.exams-timetable th, .exams-timetable td {
    border: 1px solid #f0f0f0;
    padding: 10px;
    text-align: center;
}

.exams-timetable th {
    background-color: #f8f9fa;
    color: #020202;
}
.menu-content{
    width: 1163px;
    color: #ffffff;
    height: fit-content;
     background-color: #e9ecef;
    overflow-y: scroll;
    
}
button{
    position: absolute;
    right: 130px;
    margin-top: 20px;
}