

<div class="container-fluid d-flex">
<app-left-menu></app-left-menu>


<div class="menu-content">
   <app-navbar></app-navbar>

    <div class="schedule">
        <div class="timetable">
            <h3>Timetable</h3>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Time</th>
                        <th>Monday</th>
                        <th>Tuesday</th>
                        <th>Wednesday</th>
                        <th>Thursday</th>
                        <th>Friday</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>9:00 AM - 10:00 AM</td>
                        <td>Math 101</td>
                        <td>English 101</td>
                        <td>Science 101</td>
                        <td>History 202</td>
                        <td>Math 101</td>
                    </tr>
                    <tr>
                        <td>9:00 AM - 10:00 AM</td>
                        <td>Math 101</td>
                        <td>English 101</td>
                        <td>Science 101</td>
                        <td>History 202</td>
                        <td>Math 101</td>
                    </tr>
                    <tr>
                        <td>9:00 AM - 10:00 AM</td>
                        <td>Math 101</td>
                        <td>English 101</td>
                        <td>Science 101</td>
                        <td>History 202</td>
                        <td>Math 101</td>
                    </tr>
                    <!-- More rows as needed -->
                </tbody>
            </table>
        </div>
        
       
       
    </div>
</div>

</div>
