.schedule {
    background-color: #e9ecef;

    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 85vh;
    overflow-y: scroll;
}

.schedule h2, .schedule h3 {
    color: #070809;
    text-align: center;
    
}


.timetable th {
    background-color: #f8f9fa;
    text-align: center;
}
.menu-content{
    width: 1163px;
    color: #ffffff;
    height: fit-content;
     background-color: #e9ecef;
    overflow-y: scroll;
    text-align: center;
    
  }