<div class="container-fluid">
<!-- Heading -->
<div class="head1"><span class="admin-text">Admin Page</span></div>

<!-- Menu Items -->
<div class="app-menu sidenav" >
  
   
      <div class="menu-item">
          <i class="bi bi-mortarboard"></i>
          <a routerLink="/schedule" routerLinkActive="active" class="schedule item" >Schedule</a>
        </div>
        <div class="menu-item">
          <i class="bi bi-calendar2-event"></i>
          <a  routerLink="/time" routerLinkActive="active" class="examsTimeTable item">Exams Time Table</a>
        </div>
        <div class="menu-item">
          <i class="bi bi-file-earmark-text" ></i>
          <a routerLink="/results" routerLinkActive="active" class="result item">Results</a>
        </div>
        <div class="menu-item">
          <i class="bi bi-book"></i>
          <a  routerLink="/programme" routerLinkActive="active" class="course-enrolled item">Programme</a>
        </div>
    
   
      <div class="menu-item">
          <i class="bi bi-coin"></i>
          <a  routerLinkActive="active" class="finance item">Finance</a>
        </div>
        <div class="menu-item">
          <i class="bi bi-newspaper"></i>
          <a  routerLink="/announcement" routerLinkActive="active" class="announcement item">Announcements</a>
        </div>

    
      
         <div class="menu-item">
          <i class="bi bi-gear"></i>
           <a  routerLink="/account" routerLinkActive="active" class="accountSettings item">Personal Information</a>
         </div>
  

   
    
    
  </div>

  </div>
